<header class="sticky-top">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand text-danger">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
                width="30"/> AngularPic</a>
        <div *ngIf="(user$ | async) as user">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-4">{{ user?.name }}</a>
            <a role="button" class="logout" (click)="logout()">Sair</a>
        </div>
    </nav>
</header>
